
main {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: rgb(32, 0, 146);
}
.mozaic {
line-height: 0px;
-webkit-column-count: 4;
-webkit-column-gap: 1px;
-moz-column-count: 4;
-moz-column-gap: 1px;
column-count: 4;
column-gap: 1px;
align-items: center;
}

a img {
    width: 200px;
    height: auto;
    margin-bottom: 5px;
}

img:hover {
    opacity: 0.5;
}

a span {
    visibility: hidden;
}

a:hover span {
    visibility: visible;
    color: black;
}

.title {
    position: absolute;
}

a {
    text-decoration: none;
    break-before: avoid;
    display: inline-block;
}

/*modal*/
.modal {
    --gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
}

.modal__inner {
    background: rgba(8, 11, 194, 0.313);
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 8px;
}

.modal__top {
    display: flex;
    align-items: center;
    background: rgba(3, 0, 77, 0.5);
    font-size: larger;
}

.modal__title {
    flex-grow: 1;
    padding: 0 var(--gap);
    font-size: 20px;
}

.modal__close {
    display: flex;
    align-items: center;
    cursor: pointer;
    pad: var(--gap);
    background: none;
    border: none;
    outline: none;
}

.modal__content {
    padding: 0 var(--gap);
    line-height: 1.5;
}

img {
    width: 200px;
    height: auto;
    padding-top: 10px;
}