body {
    text-align: center;
}

.view {
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}

.column {
    flex: 200px;
}

.container {
    position: relative;
    width: 200px;
    padding-bottom: 5px;
}

.container_hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 200px;
    opacity: 0;
    transition: 0.5s ease;
    background: rgb(0,0,0);
}

.container:hover .container_hover:hover {
    opacity: 0.5;
    margin-bottom: 5px;
    cursor: pointer;
}

h1 {
    color: white;
    font-weight: 700;
    z-index: 2;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
}

.container_image {
    display: block;
    width: 200px;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal_img {
    width: 200px;
    height: auto;
}

.modal_content {
    margin: 10% auto;
    padding: 12px;
    width: 80%;
    height: 375px;
    border: 1px solid #aaa;
    background-color: white;
    border-radius: 10px;
}

.modal_body{
    height: 90%;
}

.close {
    float: right;
    font-weight: 500;
    font-size: 24px;
}

.close:hover,
.cover:focus {
    color: black;
    font-weight: 900;
    cursor: pointer;
}